.Container {
    background:#DFCC70;
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    padding: auto;
    text-align: center;
    padding-bottom: 150px;
    justify-content: center;
}

.formContainer {
    width: 100%;
    height: 100%;
    background: #DFCC70;
    margin:auto 0;
    padding: auto;
    text-align: center;
    justify-content: center;
    
}

.logocontainer {
    width: 200px;
    height: 40px;
    position: relative;
    margin-right: 500px;
    padding: 30px;
}

.instructorContainer {
    display: block;
    justify-content: center;
    width:640px;
    gap:60px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #221f1f;
    
}

.nombresContainer {
    width:100%;
    display: flex;
    display: block;
    margin: 15px;
    justify-content: center;
    text-align: center;
}

.inputcontainer {
    background: #C4C4C4;
    opacity: 30%;
    margin: 10px;
    padding: 8px;
    border: #C4C4C4;
}

.cargoFechaContainer {
    display: flex;
    justify-content: center;
    width: 160px;
    gap:60px;
    margin: 0 auto;

}

.cargoContainer{
    width: 260px;
    background: white;
    border-radius: 10px;
    margin:auto;
    box-shadow: 1px 1px 3px #221f1f;
    
}

.fechaContainer{
    width: 260px;
    background: white;
    border-radius: 10px;
    margin:auto;
    box-shadow: 1px 1px 3px #221f1f;
   
    
}

.h2container {
    padding: auto;
    margin: auto;
    padding-right:180px;
    

}

.inputcontainerdate {
    margin: 10px;
    padding: 8px;
    width: 200px;
    border-radius: 0;
    border:0;
    border-bottom: 1px solid black;
    
}

.h2containernombre {
    padding-top: 15px;
    margin: 5px;
    padding-right:410px;
}

.valoraciones {
    font-size: 15px;
    position: relative;
    padding-right: 400px;
}

.calificaciones {
    font-size: 13px;
    font-weight: 600;
}

.fontsize {
    font-size: 20px;
    padding: 10px 20px;
}


.fondoquests {
    
    width: 620px;
    background: white;
    border-radius: 10px;
    margin:auto;
    box-shadow: 1px 1px 3px #221f1f;
    position: relative;
    top: 20px;
    padding-bottom:100px ;
    
    
    
}

.crecimientoydesarrollo {
    width: 35%;
    height: 15%;
    background: #D0BB57;
    border-radius: 10px;
    margin: auto;
    padding: auto;
    margin-top: 35px;
    position: relative;
    top:-30px;
    box-shadow: 1px 1px 3px #221f1f;
    
    
}

.grindquests {
    display: grid;
    grid-template-columns: 300px 210px;
    gap: 40px;
    align-items: center;
}

.contentvaloraciones {
    width: 100%;
    height: 50%;
    background: #C4C4C4;
    opacity: 50%;
    border-radius: 5px;
    margin: auto;
    padding: auto;
    margin-top: 35px;
  
    
}
.valoracionesh1 {
    font-size: 10px;
    color: black;
    font-weight: 500;
    
}

.h1conteint {
    color: black;
    font-size: 12px;
    width: 250px;    
    height: 100px;
    text-align: center;
    position: relative;
    top: 30px;
    padding-left: 30px;
}

.conteintdesplegables {
    width: auto;
    height: auto;
    background: #C4C4C4;
    opacity: 50%;
    border-radius: 3px;
    padding-top: 70px;
  
}

.select {
    width: 50px;
    height: 15px;
    margin: auto;
    padding: auto;
    position:relative; 
    top:-70px;
    font-weight: bold;
    color: black;
    font-size: 8px;
    
}

.buttoncontent {
    text-align: center;
    background: white;
    padding:6px 20px;
    margin: auto 0;
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 30px;
    border:0px;
    font-weight: bold;
    box-shadow: 1px 1px 3px #221f1f;
}

.calificacionfinal {
    width: 30%;
    height: 50%;
    background: white;
    border-radius: 5px;
    margin: auto;
    padding: auto;
    margin-top: 35px;
    position: relative;
    top:30px;
    box-shadow: 1px 1px 3px #221f1f;
}

.calif {
    color: black;
    padding:10px;
    font-size: 13px;
    font-weight: bold;
    align-items: center;
}

.contentpromedio {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:auto;
    padding:auto;
    
}

.calificacionprom {
    width: 80%;
    height: 50%;
    background: white;
    border-radius: 5px;
    margin: auto;
    padding: auto;
    margin-top: 35px;
    box-shadow: 1px 1px 3px #221f1f;
}