
.main{
    background:#DFCC70;
    width:100%;
    height:100vh;
}

.container{
    width:60%;
    height: 100vh;
    background:#DFCC70;
    margin: auto;
    text-align: center;
}
.title{
    padding-top: 50px;
    
}

.megacursos_inc{
    font-family: 'Unlock';
    font-size: 90px;

}
.Cards{
    display:flex;
    align-items: center;
    gap:50px;
    
}

.megacursos_inc {
    color: black;
    font-size:45px;
    width:100%
}

.Colaboradores{
    background:#DDDF70;
    border:0px solid black;
    border-radius: 20px;
    width: 33%;
    height:320px;
    color: black;
    padding:10px;
    padding-top:20px;
    margin-top: 15px;
    box-shadow: 1px 2px 3px #312d2d;

}

.card_colab_a{
    position:relative;
    top:70px;
    font-weight: 600;
    border:1px solid black;
    padding:12px;
    border-radius:6px;
    background:white;
    box-shadow: 1px 1px 2px #312d2d;
    text-decoration: none;
    color: black;
}

.Megacursos{
    background:#DDDF70;
    border:0px solid black;
    border-radius: 20px;
    width: 33%;
    height:320px;
    color: black;
    padding:10px;
    padding-top:20px;
    margin-top: 15px;
    box-shadow: 1px 2px 3px #312d2d;

}

.card_megac_a{
    position:relative;
    top:70px;
    width:10%;
    font-weight: 600;
    border:1px solid black;
    padding:12px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius:6px;
    background:white;
    box-shadow: 1px 1px 2px #312d2d;
    text-decoration: none;
    color: black;
}

.Estudiantes{
    background:#DDDF70;
    border:0px solid black;
    border-radius: 20px;
    width: 33%;
    height:320px;
    color: black;
    padding:10px;
    padding-top:20px;
    margin-top: 15px;
    box-shadow: 1px 2px 3px #312d2d;

}

.card_estud_a{
    position:relative;
    top:70px;
    font-weight: 600;
    border:1px solid black;
    padding:12px;
    border-radius:6px;
    background:white;
    box-shadow: 1px 1px 2px #312d2d;
    text-decoration: none;
    color: black;
}
.cerrar_s{
    position: relative;
    left:570px;
    bottom:110px;
    font-weight: 600;
    border:1px solid black;
    padding:12px;
    border-radius:6px;
    background:#adaf45;
    box-shadow: 1px 1px 2px #312d2d;
    text-decoration: none;
    color: black;
}
.cerrar_s:hover{
    background:#35eb90;
}

.card_estud_a:hover{
    background:#DDDF70;
}
.card_megac_a:hover{
    background:#DDDF70;
}

.card_colab_a:hover{
    background:#DDDF70;
}
.calificacionprom {
    width: 90%;
    height: 50%;
    background: white;
    border-radius: 5px;
    margin: auto;
    padding: auto;
    margin-top: 35px;
    box-shadow: 1px 1px 3px #221f1f;
}

.inputprom{
    width: 80%;
    height: 20px;
    margin: auto;
    padding: auto;
    text-align: center;
    position:relative; 
    top:-40px;
    font-weight: bold;
    color: black;
    font-size: 10px;
}

.inputfinal{
    width: 80%;
    height: 20px;
    margin: auto;
    padding: auto;
    text-align: center;
    position:relative; 
    top:10px;
    align-items: center;
    font-weight: bold;
    color: black;
    font-size: 12px;
    border: 0;
}