.RegisterContainer {
    background:#DFCC70;
    width: 100%;
    height: 100%;
    margin: auto 0;
    padding-top: 80px;
    padding-bottom: 30vh;
    text-align: center;
    
}

.backgroundlogin {
   
    display:grid;
    grid-template-columns: 1fr;
    margin:0 auto;
    padding: 30px;
    left: 0;
    right: 0;
    max-width: 300px;
    background: white;
    border-radius: 15px;
    box-shadow: 1px 2px 3px #221f1f;
}

.backInput{
    background: #C4C4C4;
    opacity: 30%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

.botonlogin {
    
    background: #DFCC70;
    padding: 7px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    font-size: 20px;
    align-items: initial;

    
}



.botonBack {
    
    padding: 7px;
    margin: 20px auto;
    width: 20%;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    font-size: 15px;
    
}

.contenedorBotones {
    display: grid;
    grid-template-columns: 50px 200px;
    text-align: center;
}