
.loginContainer {
    background:#DFCC70;
    width: 100%;
    height: 100vh;
    margin: auto 0;
    padding-top: 80px;
    text-align: center;
    
}

.backgroundlogin {
   
    display:grid;
    grid-template-columns: 1fr;
    margin:0 auto;
    padding: 30px;
    left: 0;
    right: 0;
    max-width: 300px;
    background: white;
    border-radius: 15px;
    text-align: center;
    
}

.backInput{
    background: #C4C4C4;
    opacity: 30%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

.botonlogin {
    
    background: #DFCC70;
    padding: 7px;
    margin: 20px auto;
    width: 40%;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    font-size: 20px;

    
}

.ContenedorLogin {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto 0;
    
}

.parrafo{
    position: relative;
    margin-top: 10px;
    text-align: center;    
    
}
.registrate{
    position: relative;
    margin-top: 10px;
    margin-left: 2px;
    font-weight: bold;
    text-align: center;
    color: black;
    
}
